body{
  background-color: #EEEEEE;
  font-family: 'Lato', sans-serif;
}
h4{
  margin-top: 0;
}
hr{
  border-style: none;
  border-width: 5px;
  border-top-style: dotted;
  width: 10%;
  border-color: #c10000;
  margin: 5% auto 5% auto;
}
.topper{
  background-color: white;
  padding-bottom: 1%;
  height: 9vh
}
.central{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  background-color: #dedede;
}

.logo{
  height:    10vh;
  float: left;
}
.sottotitolo{
  height: 8vh;
  width: 40%;
}
.title{
  margin-bottom: 0;
  padding-top: 2%;
  color: #c10000;
}
.subt{
  color: #c10000;
  margin-top: 0;
  margin-bottom: 0;
}
.info-link{
  float: right;
  color: #c10000;
  margin-right:  4%;
  position: absolute;
  right: 1%;
  top: 4%;
}
.reg-link{
  float: right;
  color: #c10000;
  margin-right:  4%;
  position: absolute;
  right: 13%;
  top: 4%;
}
.rec-link:hover{
  color: #ff4949;
  }
.rec-link{
  text-decoration: none;
  color: #c10000;
}
.info-link:hover{
  color: #ff4949;
}
.reg-link:hover{
  color: #ff4949;
}
.input{
  display: block;
  margin-left: 15%;
  margin-bottom: 4%;
  margin-top: 5%;
  width: 50%;
  position: relative;
  left: 20%;
}
.titolo{
  margin-left: 43%;
}
.form{
  width: 50%;
  float:left;
}
