body{
  background-color: #EEEEEE;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
hr{
  border-style: none;
  border-width: 5px;
  border-top-style: dotted;
  width: 10%;
  border-color: #fd2e2e;
  margin: 5% auto 5% auto;
}

/*topper*/
.topper-sub{
  font-weight: normal;
  font-size: 1.2rem;
  position: relative;
  bottom: 5px;
}
.topper .container-fluid{
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  color: #fd2e2e;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 40px;
}

.nav-item {
  padding: 0 18px;
}
.logo{
  width: 90px;
}
.nav-link {
  font-size: 1.2rem;
  color: #fd2e2e;
  font-family: "Montserrant";
  font-weight: bold;
}

/*central */
.central{
  text-align: center;
}
.central-col{
  background-color: red;
}
.bottom-div{
  background-color: white;
  width: 99%;
  height: 12%;
  position: absolute;
  bottom: 0;
}
.input{
  display: block;
  margin-left: 15%;
  margin-bottom: 4%;
  margin-top: 5%;
  width: 50%;
  position: relative;
  left: 20%;
}

.form{
  width: 50%;
  float:left;
}
