<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CRIS </title>
  <!-- bootstrap e mio css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/stylesheet.css">
  <!-- font importati -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" href="img/logo.png">
  <!-- import delle icone tipo chiave, lucchetto...-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- import mappa -->
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
</head>

  <!-- classica gestione della parte superiore della pagina -->

  <div id="topper">
      <nav class="navbar navbar-expand-lg ">

        <a class="nav-link" href="/">
        <img class="logo" src="img/logo.png" alt="cri-logo"></a>
        <a class="nav-link" href="/">
        <h3 class="navbar-brand">Croce Rossa italiana <br> <span class="topper-sottotitolo">comitato regionale Sardegna</span></h3></a>
        <!-- gestione menu hamburger quando pagina viene ristretta -->
        <button class="navbar-toggler navbar-light panino" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapsed-panino" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="registrati">Registrati</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
          </ul>
        </div>
        <!-- fine gestione hamburger -->
      </nav>
  </div>




          <div class="Primo-rettangolo">

            <h1>Sei un volontario di Croce Rossa della Regione Sardegna?</h1>
            <h5>Clicca sul pulsante qui sotto per registrarti e essere attivo nella gestione delle Emergenze .</h5>
            <p><a href="registrati" class="btn btn-lg btn-danger bottone-login">Registrati</a></p>
          </div>




        <div class="Post-rettangolo">
    <div class="row">
      <!-- inizio a gestire parte sinistra  -->
      <div class="col">

          <div class = "Left-part">
            <div class = "Titolo-Paragrafo">  <h6>Gestione delle emergenze</h6> </div>
            <p> Il nostro obbiettivo è quello di rendere il processo di gestione delle emergenze più immediato e centralizzato. <br>
                I volontari che hanno un attestato OPEM e desiderano rendersi disponibili per attività
                di Protezione Civile a livello regionale, si possono registrare , inserire i titoli
                CRI nel proprio profilo ed eventuali altri titoli tra quelli in elenco. <br>
                In caso di necessità, i responsabili potranno identificare velocemente e facilmente i volntari disponibili, e con le competenze
                utili per l emergenza in atto. <br>
               Qualora il DRAE lo richieda, si potranno inserire le disponibilità per gli eventi in atto..</p>
               <br><br><br>

             <hr>

             <div class = "Titolo-Paragrafo">  <h6>Equipaggiamento e inventario</h6> </div>
             I responsabili locali, devono inserire l’elenco di tutto l’equipaggiamento disponibile
             nel comitato che potrà essere utilizzato per ogni tipo di attività di Protezione Civile e tenerlo aggiornato.
             <br><br><br>
              <hr>

              <div class = "Titolo-Paragrafo">  <h6>Coordinazione regionale:</h6> </div>

              <p>Il delegato regionale per l attivita di emergenza coordinerà tutte le attività. <br>
                <ul>
                  <li>Potrà consultare l elenco dei volontari disponibil in base ai loro titoli e contattarli per richiederne la disponibilità.</li>
                  <li>Potrà creare degli "eventi", in caso di situazioni particolari, dove il singolo volontario potrà manifestare la propria possibilità di intervenire </li>
                  <li>Potrà richiedere ai responsabili locali di rendere disponibili i mezzi e l atrezzatura del proprio comitato, in caso di evento in atto</li>
                </ul>
               <br>
                </p>

          </div>
      </div>
      <!-- finisco di gestire parte sinistra  -->
        <!-- inizio a gestire parte destra  -->
        <div class="col">
          <div class = "Right-part">
          <div class = "Titolo-Paragrafo">  <h6>I VOLONTARI E I COMITATI GIA' ISCRITTI:</h6> </div>



          <div id="map" style="width:40vw;height:70vh; min-height : 800px; max-height: 1000px;"></div>
          </div>
        </div><!-- finisco di gestire parte destra  -->

    </div>

  </div>







<div class="footer">
  <div class="container-fluid">
    <p class="disclaimer">Sito riservato esclusivamente a uso degli operatori di Croce Rossa della regione Sardegna</p>
  </div>
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/map.js" type="text/javascript">

  </script>
</body>
