<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CRIS </title>
  <!-- bootstrap e mio css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/stylesheet.css">
  <!-- font importati -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" href="img/logo.png">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <!-- classica gestione della parte superiore della pagina -->

  <div id="topper">

    <nav class="navbar navbar-expand-lg ">
      <a class="nav-link" href="/">
        <img class="logo" src="img/logo.png" alt="cri-logo"></a>
      <a class="nav-link" href="/">
        <h3 class="navbar-brand">Croce Rossa italiana <br> <span class="topper-sottotitolo">comitato regionale Sardegna</span></h3>
      </a>
      <!-- gestione menu hamburger quando pagina viene ristretta -->
      <button class="navbar-toggler navbar-light panino" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse collapsed-panino" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Homepage</a>
          </li>
        </ul>
      </div>
      <!-- fine gestione hamburger -->
    </nav>

  </div>

  <div class="central">

    <div class="Primo-rettangolo2">
      <div class="pre-autorizzazione">
        <div class="Profilo">
          <h2 class="centred">ATTENZIONE</h2>
        </div>
        <br><br>
        <h5 class="centred" style="font-weight:normal;">Caro volontario, ti sei registrato con successo, non ti resta che attendere l approvazione da parte del responsabile locale del tuo comitato</h5>
        <br><br>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class="container-fluid">
      <p class="disclaimer">Sito riservato esclusivamente a uso degli operatori di Croce Rossa della regione Sardegna</p>
    </div>
  </div>
</body>
