html, body{
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;

    width: 100%;
    height: 100%;


    overflow-x: hidden;
}

h1,h2,h3,h4,h5{
  font-family: "Ubuntu";
  font-weight: bold;
}

p{
  font-weight: 400;
}

/*topper*/

#topper {
  padding: 0;
  background-color: white;
  clear:both;
  position: relative;
}

#bottom .container-fluid{
  padding: 0;

}

.navbar-brand {
  color: #fd2e2e;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 20px;
  text-align: center;
}

.topper-sottotitolo{
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1.2rem;
  position: relative;
  bottom: 5px;
}

.logo{
  width: 80px;
}



.col{
  width: 33.33%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  font-weight: 400;
  color: #fd2e2e;
}
.nav-link:hover{
  color: #fc6e5e;
}

/*bottom*/

#bottom{
  color: white;
  text-align: center;
  display:block;

}


.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ab1212;
   color: white;
   text-align: center;
   color: white;
   display:block;
   clear:both;




}

.disclaimer{
  padding-top: 1%;
  padding-bottom: 1%;
  margin:0 auto 0 auto;
  width: 50%;
  line-height: 1.5;
}

/*adattabilità topper e bottom*/

@media (max-width: 498px) {
  .logo{
  margin-left: 40%;
  margin-bottom: 5%;
  }
  .disclaimer{
  font-size: 10vw;
  }
  .navbar-brand{
  padding-left: 0;
  }
}
@media (max-width: 398px){
  .navbar-brand{
    font-size: 1rem;
    margin: 0 auto 0 auto;
  }
  .panino{
    margin-left: 40%;
  }
  .collapsed-panino{
    margin-left: 30%;
  }
  .topper-sottotitolo{
    font-size: 0.8rem;
  }
  .nav-link{
    font-size: 1rem;
  }
}

/*central */
#central{
  width: 100%;
  background-color: #EEEEEE;
  min-height: calc(100vh - 122px - 66.84px + 5px);




}


/*login central*/
.riquadro-login{
    position: relative;
  padding: 8%;


}

.Login-Container{
  min-height: calc(100vh - 122px - 66.84px + 5px);
}

.Intro-Homepage{

    margin: 0;
}

.form-options{
  text-align: center;
  padding: 0;
  box-shadow: 1px 2px 4px #ab1212;
}

.bottone-login{
  background-color: #fd2e2e;
}

.Primo-rettangolo{
  margin: 10px;
  background-color: #EEEEEE;
  padding: 5% 5% 5% 5%;
  color : white;
  text-align: center;
  background-image: url("https://datafiles.gaia.cri.it/assets/img/croce_mani.jpg");/* una volta caricata online, useremo delle immagini scaricate, in modo che non possano andare down etc */
  margin-top: 0px;
  margin-left: -0px;
  margin-right: -0px;
  padding-top:300px;
  padding-bottom:300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.Titolo-Paragrafo{
  color : red;
  text-align: center;

}

.Post-rettangolo{
  background-color:#EEEEEE;
  padding : 0%;
}

.Left-part{
  padding: 2% 5% 5% 5%;
  color : black;
}

.col{
  margin right: : 1000px;
}

.Right-part{
    color : red;
    padding: 2% 5% 5% 5%;
    margin-left: 50px;
}

.Form-SignUP{
  text-align: left;
  padding: 1%;
  position: relative;
    min-height: calc(100vh - 122px - 66.84px + 5px);

}

.inputForm {
  width : 100%;
  text-align: Left;
    font-weight:400;
}
.Comitati{
  text-align: center;
}



.SUBMIT,submit{
  text-align: right;
  color: red;
}

.infoR{
  position: absolute;
  bottom: 0;
}


.Termini-condizioni{
  font-size: 20px;
  text-align: right;
}

.Homepage{
  min-height: calc(100vh - 122px - 66.84px + 5px);
}

.Lato-Sinistro{
  clear: left;
  float: left;
  width: 25%;
  margin : 2%;
  background:#e3e1e1;
  text-align: center;
  font-weight: normal;
}

.Profilo{
  color : white;
  background: red;
  font-weight: normal;
}


.Lato-Destro{
  float: left;
  width: 66%;
    margin : 2%;
text-align: left;
  background: #e3e1e1;
}

.Calendario{
  text-align: center;
  padding-left: 2%;
}

.Bottoni-update{
  text-align: right;
  margin : 1%;
}
/*classe che si prende il messaggio di errore in caso l'utente inserisca nel form cose brutte*/
.error {
   color: red;
}
